# python | object -> json | network 
# Serialization => Towards network

In [9]:
import json

In [10]:
data1 = [
 {"EST": "1/1/2016",
  "Temperature": 38,
  "DewPoint": 23,
  "Humidity": 52
 },
 {
  "Temperature": 30,
  "DewPoint": 20,
 },
 {"EST": "1/3/2016",
  "Humidity": 59
 },
 {"EST": "1/5/2016",
  "Temperature": 36,
  "DewPoint": 21
 }
]
print(json.dumps(data)) # converts the Python object data into a JSON string

# Write the JSON data to a file
with open('data1.json', 'w') as json_file:
    json.dump(data1, json_file,indent=2)

print('JSON data has been written to data1.json')

[{"EST": "1/1/2016", "Temperature": 38, "DewPoint": 23, "Humidity": 52}, {"Temperature": 30, "DewPoint": 20}, {"EST": "1/3/2016", "Humidity": 59}, {"EST": "1/5/2016", "Temperature": 36, "DewPoint": 21}]
JSON data has been written to data1.json

# Convert the file in csv

In [11]:
import pandas as pd

In [12]:
json_file='data1.json'
data_csv=pd.read_json(json_file)
data_csv

        EST  Temperature  DewPoint  Humidity
0  1/1/2016         38.0      23.0      52.0
1       NaN         30.0      20.0       NaN
2  1/3/2016          NaN       NaN      59.0
3  1/5/2016         36.0      21.0       NaN

# Now create a file with 4 dictionary elements within a json file where in 1st row 4 key- values, 2nd 2 key-value, 3rd 1 key-value and 4th 3 key-value combinations are there

Create super set and append the headers (keys ) there and then use logic and build the table and where data is not there null will be there